html,
body {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.home-container {
	width: inherit;
	height: 100vh;
	background-color: rgb(132, 0, 255);
	color: rgb(167, 135, 255);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	overflow: auto;
}

.favorites-container {
	width: inherit;
	height: 100vh;
	background-color: rgb(132, 0, 255);
	color: rgb(167, 135, 255);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	overflow: auto;
}

.movies-container {
	width: inherit;
	height: 100vh;
	background-color: rgb(132, 0, 255);
	color: rgb(167, 135, 255);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	overflow: auto;
}

a,
a:hover {
	color: rgb(167, 135, 255);
	text-decoration: none;
}

.text-field {
	border: 5px solid rgb(167, 135, 255);
	width: 320px;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('../assets/OOjs_UI_icon_search-rtl-progressive.svg.png');
	background-position: 10px 10px;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	transition: width 0.4s ease-in-out;
}

.text-field[type='text']:focus {
	width: 100%;
}

.page-title {
	font-family: 'Courier New', Courier, monospace;
	color: rgb(176, 255, 72);
	padding: 20px;
}

main > div {
	float: left;
	height: 100vh;
	width: 80%;
	padding: 0 10px;
}

#box {
	content: '';
	display: flex;
	clear: both;
}

#result-container {
}

#favorites-container {
}

.button1 {
	background-color: rgb(167, 135, 255);
	border: none;
	color: rgb(176, 255, 72);
	padding: 17px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	transition-duration: 0.4s;
}

.button1:hover {
	background-color: rgb(128, 104, 235);
}

.favorites-list {
	width: 800px;
	margin: 0 auto;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
	padding: 5px;
}
